ScadaSystem/ReportManager/Connected Services/ReportManagerServiceReference/ScadaSystem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScadaSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScadaSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlarmLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmLog" nillable="true" type="tns:AlarmLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmLog" nillable="true" type="tns:ArrayOfAlarmLog" />
  <xs:complexType name="AlarmLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentValue" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmLog" nillable="true" type="tns:AlarmLog" />
  <xs:complexType name="ArrayOfValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Value" nillable="true" type="tns:Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValue" nillable="true" type="tns:ArrayOfValue" />
  <xs:complexType name="Value">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InputValue" type="xs:double" />
      <xs:element minOccurs="0" name="TagId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Value" nillable="true" type="tns:Value" />
</xs:schema>