ScadaSystem/ReportManager/Connected Services/ReportManagerServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ScadaSystem" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Report1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Report1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScadaSystem" minOccurs="0" name="Report1Result" nillable="true" type="q1:ArrayOfAlarmLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Report2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Report2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ScadaSystem" minOccurs="0" name="Report2Result" nillable="true" type="q2:ArrayOfAlarmLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Report3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Report3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ScadaSystem" minOccurs="0" name="Report3Result" nillable="true" type="q3:ArrayOfValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Report4">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Report4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ScadaSystem" minOccurs="0" name="Report4Result" nillable="true" type="q4:ArrayOfValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Report5">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Report5Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ScadaSystem" minOccurs="0" name="Report5Result" nillable="true" type="q5:ArrayOfValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Report6">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Report6Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ScadaSystem" minOccurs="0" name="Report6Result" nillable="true" type="q6:ArrayOfValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTagNamesResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>