ScadaSystem/AlarmDisplay/Connected Services/AlarmDisplayServiceReference/ScadaSystem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScadaSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScadaSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AlarmLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentValue" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmLog" nillable="true" type="tns:AlarmLog" />
</xs:schema>